.weather-container {
    display: flex;
    flex-wrap: wrap;
}

.weather-record {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.date {
    font-weight: bold;
}

.max-temp, .min-temp {
    margin-top: 5px;
}

.description, .precipitation, .humidity, .wind-speed {
    margin-top: 10px;
}

.label {
    font-weight: bold;
}

select {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.export-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}