.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Заменили высоту на min-height */
}

.header {
    display: flex;
    height: 130px;
    background-color: blue;
    justify-content: space-between;
}

.tools {
    display: flex;
    flex: 1; /* Изменили flex-свойство на flex: 1 */
}

.content1 {
    background-color: #FFE6A6;
    min-height: 630px; /* Заменили высоту на min-height */
    width: 250px;
    border: 1px solid black;
}

.content2 {
    flex: 2;
    min-height: 630px; /* Заменили высоту на min-height */
    border: 1px solid black;
    background-color: deepskyblue;
    padding: 20px;
}

h3 {
    position: initial;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 60px;
}

.avatar {
    margin-left: 50px;
    width: 150px;
    height: 130px;
}
