@inject WeatherService WeatherService

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="height: 500px;">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link button" href="today">
                <span aria-hidden="true"></span> Сегодня
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link button" href="tomorrow">
                <span aria-hidden="true"></span> Завтра
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link button" href="week">
                <span aria-hidden="true"></span> Неделя
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link button" href="two-week">
                <span aria-hidden="true"></span> 14 дней
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link button" href="month">
                <span aria-hidden="true"></span> Месяц
            </NavLink>
        </li>
    </ul>
</div>
<hr style="border-top: 1px solid black;">
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="social-media">
        <p class="ikonka"><a href="https://www.facebook.com/yandex/?locale=ru_RU"><img src="img/facebook.png"></a></p>
        <p class="ikonka"><a href="https://t.me/yandex"><img src="img/telegram.png"></a></p>
        <p class="ikonka"><a href="https://twitter.com/yandex"><img src="img/twiter.png"></a></p>
    </div>
    <p class="p" style="text-decoration: underline;"><a href="https://yandex.ru/legal/weather_termsofuse/">Пользовательское соглашение</a></p>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool showCityMenu = false;
    private List<string> Cities { get; set; }
    private string SelectedCity { get; set; } = "Город";
    private List<WeatherRecord> WeatherRecords { get; set; }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        Cities = await WeatherService.GetCities();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleCityMenu()
    {
        showCityMenu = !showCityMenu;
    }

    private async Task SelectCity(string city)
    {
        SelectedCity = city;
        await UpdateWeather();
        showCityMenu = false;
    }

    private async Task UpdateWeather()
    {
        // Обновление информации о погоде для выбранного города
        WeatherRecords = await WeatherService.GetWeatherForecast(SelectedCity, 1);
    }
}
