.weather-container {
    display: flex;
    flex-wrap: wrap;
}


.date {
    font-weight: bold;
}

.max-temp, .min-temp {
    margin-top: 5px;
}

.description, .precipitation, .humidity, .wind-speed {
    margin-top: 10px;
}


select {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.weather-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.month-table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 1000px;
    height: 60px;
}

.month-cell {
    width: 80px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

p {
    margin: 0;
    font-size: 10px;
}

.export-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px
}