.week-table {
    border-collapse: collapse;
    width: 100%;
}

    .week-table th,
    .week-table td {
        padding: 8px;
        text-align: left;
    }

    .week-table th {
        background-color: #f2f2f2;
    }

    .week-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Настройка расстояния между столбцами */
    .week-table th:nth-child(n+2),
    .week-table td:nth-child(n+2) {
        padding-left: 20px; /* Измените значение для настройки расстояния */
    }

select {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.export-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px
}
