.week-table[b-qptq2alev5] {
    border-collapse: collapse;
    width: 100%;
}

    .week-table th[b-qptq2alev5],
    .week-table td[b-qptq2alev5] {
        padding: 8px;
        text-align: left;
    }

    .week-table th[b-qptq2alev5] {
        background-color: #f2f2f2;
    }

    .week-table tr:nth-child(even)[b-qptq2alev5] {
        background-color: #f9f9f9;
    }

    /* Настройка расстояния между столбцами */
    .week-table th:nth-child(n+2)[b-qptq2alev5],
    .week-table td:nth-child(n+2)[b-qptq2alev5] {
        padding-left: 20px; /* Измените значение для настройки расстояния */
    }

select[b-qptq2alev5] {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.export-button[b-qptq2alev5] {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
