@page "/expertise"

@using Microsoft.AspNetCore.Components.Web
<html>
 <head>
    <title>My Resume</title>
    <link rel="stylesheet" type="text/css" href="section/section3-grid.css">
    <meta charset="utf-8">
 </head>
 <body>
    <div class="grid-container">
     <div class="column">
         <h3>ADVANCED CSS</h3>
         <p>Cras ornare tristique elit lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
     </div>
     <div class="column">
         <h3>FRONT-END DESIGN</h3>
         <p>Sed adipiscing ornare risus.</p>
     </div>
     <div class="column">
         <h3>RUBY ON RAILS</h3>
         <p>Donec nec justo eget felis facilisis fermentum.</p>
     </div>
     <div class="column">
         <h3>OBJECT-ORIENTED PHP</h3>
         <p>Morbi in sem quis dui placerat ornare.</p>
     </div>
     <div class="column">
         <h3>WORDPRESS</h3>
         <p>Phasellus ultrices nulla quis nibh. Fusce lobortis lorem. Quisque a lectus.</p>
     </div>
     <div class="column">
         <h3>JAVASCRIPT / JQUERY</h3>
         <p>Cras ornare tristique elit lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
     </div>
    </div>
 </body>
</html>