@page "/avatar"
@using Microsoft.AspNetCore.Components.Web
<html>
  <head>
    <title>My Resume</title>
    <link rel="stylesheet" type="text/css" href="section/section1-text.css">
    <meta charset="utf-8">
  </head>
  <body>
      <p style="font-size: 30px;" class="name">nikita</p>
      <p style="font-size: 45px;" class="surname">MIROSHNICHENKO</p>
      <span style="font-size: 15pt;" class="speciality">Web Developer</span>
      <div class="social-media">
          <img src="img/facebook.png">
          <img src="img/telegram.png">
          <img src="img/twiter.png">
      </div>
      <div class="LPWE1">
          <hr>
          <span class="LPWE1 locInf">Location</span>
          <span class="locInf">Phone</span>
          <span class="locInf">Web</span>
          <span class="locInf">Email</span>
      </div>
      <div class="LPWE2">
          <span class="locCountry locInf2">Germany</span>
          <span class="number locInf2">+88005353535</span>
          <span class="web locInf2">razrabotchik.com</span>
          <span class="email locInf2">ktoto@mail.ru</span>
      </div>
  </body>
</html>
