@page "/skils"

@using Microsoft.AspNetCore.Components.Web
<html>
<head>
    <title>My Resume</title>
    <link rel="stylesheet" type="text/css" href="section/section4-progress.css">
    <meta charset="utf-8">
</head>
  <body>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="label">80% PHOTOSHOP</div>
                <div class="progress-bar">
                    <div class="progress" style="width: 80%"></div>
                </div>
            </div>
            <div class="column">
                <div class="label">50% ILLUSTRATOR</div>
                <div class="progress-bar">
                    <div class="progress" style="width: 50%"></div>
                </div>
            </div>
            <div class="column">
                <div class="label">25% GIT</div>
                <div class="progress-bar">
                    <div class="progress" style="width: 25%"></div>
                </div>
            </div>
            <div class="column">
                <div class="label">92% AFTER EFFECTS</div>
                <div class="progress-bar">
                    <div class="progress" style="width: 92%"></div>
                </div>
            </div>
            <div class="column">
                <div class="label">28% SKETCH</div>
                <div class="progress-bar">
                    <div class="progress" style="width: 28%"></div>
                </div>
            </div>
            <div class="column">
                <div class="label">39% CSS3 ANIMATION</div>
                <div class="progress-bar">
                    <div class="progress" style="width: 39%"></div>
                </div>
            </div>
            <div class="column">
                <div class="label">71% PAGESPEED INSIGHTS</div>
                <div class="progress-bar">
                    <div class="progress" style="width: 71%"></div>
                </div>
            </div>
            <div class="column">
                <div class="label">15% SEO</div>
                <div class="progress-bar">
                    <div class="progress" style="width: 15%"></div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
