.weather-container[b-5t768al650] {
    display: flex;
    flex-wrap: wrap;
}


.date[b-5t768al650] {
    font-weight: bold;
}

.max-temp[b-5t768al650], .min-temp[b-5t768al650] {
    margin-top: 5px;
}

.description[b-5t768al650], .precipitation[b-5t768al650], .humidity[b-5t768al650], .wind-speed[b-5t768al650] {
    margin-top: 10px;
}


select[b-5t768al650] {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.weather-container[b-5t768al650] {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.month-table[b-5t768al650] {
    border-collapse: collapse;
    border: 1px solid black;
    width: 1000px;
    height: 60px;
}

.month-cell[b-5t768al650] {
    width: 80px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

p[b-5t768al650] {
    margin: 0;
    font-size: 10px;
}

.export-button[b-5t768al650] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px
}