.weather-container[b-b1afusirvm] {
    display: flex;
    flex-wrap: wrap;
}

.weather-record[b-b1afusirvm] {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.date[b-b1afusirvm] {
    font-weight: bold;
}

.max-temp[b-b1afusirvm], .min-temp[b-b1afusirvm] {
    margin-top: 5px;
}

.description[b-b1afusirvm], .precipitation[b-b1afusirvm], .humidity[b-b1afusirvm], .wind-speed[b-b1afusirvm] {
    margin-top: 10px;
}

.label[b-b1afusirvm] {
    font-weight: bold;
}

select[b-b1afusirvm] {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}