@import '';

/* _content/pr4-private-sait/Components/DayWeather.razor.rz.scp.css */
.weather-container[b-8b4tttqnf6] {
    display: flex;
    flex-wrap: wrap;
}

.weather-record[b-8b4tttqnf6] {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.text[b-8b4tttqnf6] {
    font-weight: bold;
}


.label[b-8b4tttqnf6] {
    font-weight: bold;
}

select[b-8b4tttqnf6] {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.export-button[b-8b4tttqnf6] {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
/* _content/pr4-private-sait/Components/MonthWeather.razor.rz.scp.css */
.weather-container[b-ym8tqak52r] {
    display: flex;
    flex-wrap: wrap;
}



.text[b-ym8tqak52r] {
    margin-top: 5px;
}


select[b-ym8tqak52r] {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.weather-container[b-ym8tqak52r] {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.month-table[b-ym8tqak52r] {
    border-collapse: collapse;
    border: 1px solid black;
    width: 1000px;
    height: 60px;
}

.month-cell[b-ym8tqak52r] {
    width: 80px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

p[b-ym8tqak52r] {
    margin: 0;
    font-size: 10px;
}

.export-button[b-ym8tqak52r] {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
/* _content/pr4-private-sait/Components/WeekWeather.razor.rz.scp.css */
.week-table[b-avh2bp2mmc] {
    border-collapse: collapse;
    width: 100%;
}

    .week-table th[b-avh2bp2mmc],
    .week-table td[b-avh2bp2mmc] {
        padding: 8px;
        text-align: left;
    }

    .week-table th[b-avh2bp2mmc] {
        background-color: #f2f2f2;
    }

    .week-table tr:nth-child(even)[b-avh2bp2mmc] {
        background-color: #f9f9f9;
    }

    /* Настройка расстояния между столбцами */
    .week-table th:nth-child(n+2)[b-avh2bp2mmc],
    .week-table td:nth-child(n+2)[b-avh2bp2mmc] {
        padding-left: 20px; /* Измените значение для настройки расстояния */
    }

select[b-avh2bp2mmc] {
    word-wrap: normal;
    text-align: center;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.export-button[b-avh2bp2mmc] {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
/* _content/pr4-private-sait/Shared/MainLayout.razor.rz.scp.css */
.page[b-z1tlnx4g2d] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* �������� ������ �� min-height */
}

.header[b-z1tlnx4g2d] {
    display: flex;
    height: 130px;
    background-color: blue;
}

.tools[b-z1tlnx4g2d] {
    display: flex;
    flex: 1; /* �������� flex-�������� �� flex: 1 */
}

.content1[b-z1tlnx4g2d] {
    background-color: #FFE6A6;
    min-height: 630px; /* �������� ������ �� min-height */
    width: 250px;
    border: 1px solid black;
}

.content2[b-z1tlnx4g2d] {
    flex: 2;
    min-height: 630px; /* �������� ������ �� min-height */
    border: 1px solid black;
    background-color: deepskyblue;
    padding: 20px;
}

h3[b-z1tlnx4g2d] {
    display: flex;
    width: 1250px;
    margin-top: 25px;
    flex-direction: row-reverse;
    font-size: 60px;
}

.avatar[b-z1tlnx4g2d] {
    margin-left: 50px;
    width: 150px;
    height: 130px;
}
/* _content/pr4-private-sait/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-u4j0zy7ulp] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u4j0zy7ulp] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-u4j0zy7ulp] {
    font-size: 1.1rem;
}

.submenu[b-u4j0zy7ulp] {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #FFDC84;
    padding: 20px;
}

.city-option[b-u4j0zy7ulp] {
    cursor: pointer;
}

    .city-option:hover[b-u4j0zy7ulp] {
        background-color: rgba(0, 0, 0, 0.1);
    }

.selected-city[b-u4j0zy7ulp] {
    font-weight: bold;
}

.nav-item[b-u4j0zy7ulp] {
    position: relative; /* Add this line to make the submenu relative to the nav-item */
}

    .nav-item:hover .submenu[b-u4j0zy7ulp] {
        display: block;
    }

.button[b-u4j0zy7ulp] {
    margin-bottom: 20px;
    padding: 5px 30px;
    font-size: 14px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #FBE9BC;
    color: black;
    width: 100%;
    text-align: center;
    border: 1px;
}

.button-ikonka[b-u4j0zy7ulp] {

}

.social-media[b-u4j0zy7ulp] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.ikonka[b-u4j0zy7ulp] {
    padding-left: 27px;
    padding-right: 27px;
    margin: 0;
}

p[b-u4j0zy7ulp] {
    cursor: pointer;
    margin: 0;
}

.p[b-u4j0zy7ulp] {
    margin-left: 10px;
    color: blue;
    cursor: pointer;
}

.nav-item[b-u4j0zy7ulp] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-u4j0zy7ulp] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-u4j0zy7ulp] {
        padding-bottom: 1rem;
    }

    .nav-item[b-u4j0zy7ulp]  a {
        color: black;
        border-radius: 4px;
        height: 4rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        justify-content: center;
        border-radius: 40px;
    }

        .nav-item[b-u4j0zy7ulp]  a.active {
            background-color: #FBE9BC;
            color: black;
        }

        .nav-item[b-u4j0zy7ulp]  a:hover {
            background-color: #FFDC84;
            color: black;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-u4j0zy7ulp] {
        display: none;
    }

    .collapse[b-u4j0zy7ulp] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
